<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".QArmy"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QArmy"
        android:screenOrientation="portrait"
        tools:targetApi="31">
        <activity
            android:name=".UI.UsersSameQrScanActivity"
            android:exported="false"
            android:label="Scanned By"/>
        <activity
            android:name=".UI.qrcodes.QRCodeScanActivity"
            android:exported="false"
            android:label="Train Recruit"/>
        <activity
            android:name=".UI.FetchLocationAndPictureActivity"
            android:exported="true" />
        <activity
            android:name=".UI.qrcodes.CommentsActivity"
            android:exported="false"
            android:label="View/Edit Comments" />
        <activity
            android:name=".UI.qrcodes.QRCodeVisualRepActivity"
            android:exported="true" />
        <activity
            android:name=".UI.profile.UserProfileActivity"
            android:label="User Profile"
            android:exported="true" />
        <activity
            android:name=".UI.profile.RegistrationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.profile.EditProfileActivity"
            android:label="Edit Profile"
            android:exported="false" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true"/>
        <activity
            android:name=".UI.CaptureAct"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>